.jumbotron {
    background-color: black;
}

h1 {
    color: white;
}

h2, p {
    color: black;
}

#footer {
    background-color: black;
}

#showcase-container {
    background-color: rgba(220, 227, 233, 0.911);
}